<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!--ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"-->
            <!-- Flow tracing is most useful with a pattern that shows location.
                 Below pattern outputs class, line number and method name. -->
            <PatternLayout pattern="%msg%xEx%n"/>
        </Console>
        <File name="all" fileName="logs/all.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="broker" fileName="logs/broker.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="subscriber" fileName="logs/subscriber.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="publisher" fileName="logs/publisher.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="loadBalancer" fileName="logs/loadBalancer.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="util" fileName="logs/util.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="types" fileName="logs/types.log" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %class{36} %L %M - %msg%xEx%n"/>
        </File>
        <File name="results" fileName="logs/results.log" append="false">
            <PatternLayout pattern="%msg%xEx%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="edu.vanderbilt.chuilian.brokers.edge" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="edu.vanderbilt.chuilian.clients.publisher" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="edu.vanderbilt.chuilian.clients.subscriber" level="error" additivity="false">
            <AppenderRef ref="all"/>
            <AppenderRef ref="subscriber"/>
        </Logger>
        <Logger name="edu.vanderbilt.chuilian.loadbalancer" level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="all"/>
            <AppenderRef ref="loadBalancer"/>
        </Logger>
        <Logger name="edu.vanderbilt.chuilian.util" level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="all"/>
            <AppenderRef ref="util"/>
        </Logger>
        <Logger name="edu.vanderbilt.chuilian.types" level="error" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="all"/>
            <AppenderRef ref="types"/>
        </Logger>
        <Logger name="TestResult" level="info" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="all"/>
        </Root>
    </Loggers>
</Configuration>